Here is a California Census Data and we'll be using various features of an individual to predict what class of income they belong in (>50k or <=50k). 

Below are some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

** Read in the census_data.csv data with pandas**

In [53]:
import pandas as pd

In [54]:
census = pd.read_csv("census_data.csv")

In [55]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow cannot understand labels as strings , you need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s.**

In [56]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [57]:
def label_fix(label):
    if label==' <=50K':
        return 0
    else:
        return 1

In [58]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)
census.tail()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

### Perform Train Test Split on census data

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
x_data = census.drop('income_bracket',axis=1)#all the informations except the income_bracket
y_labels = census['income_bracket']#only the informations of income bracket
X_train, X_test, y_train, y_test = train_test_split(x_data,y_labels,test_size=0.3,random_state=101)#random_state=101 is just a way to make sure that the split is always done the same way, so that we get consistent results every time we run the code.
#X_train: contains the input features 
#y_train: contains the target variable that we want to predict.

### Create the Feature Columns for tf.esitmator

In [61]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [103]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [104]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
#categorical_column_with_hash_bucket: is a TensorFlow function that converts a categorical feature into a numerical feature using a hashing technique, and the hash_bucket_size parameter controls the number of hash buckets used for the mapping.
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [105]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [106]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### create the Input Function

** Batch_size is up to you.**

In [123]:

input_func = tf.compat.v1.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=100, num_epochs=None, shuffle=True)
#batch_size: The number of data points to be processed at once during each step of training. In this case, each batch will contain 100 data points.
#num_epochs: The number of times to iterate over the entire dataset during training. In this case, the input function will iterate over the entire dataset indefinitely, since num_epochs is set to None.
#shuffle: Whether or not to shuffle the data before each epoch. In this case, the data will be shuffled before each epoch, which can help prevent the model from overfitting to the order of the training data.

#### Create your model with tf.estimator

**Create a LinearClassifier**

In [124]:
model = tf.compat.v1.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\safae\AppData\Local\Temp\tmptiamwk9c
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\safae\\AppData\\Local\\Temp\\tmptiamwk9c', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [125]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\safae\AppData\Local\Temp\tmptiamwk9c\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 69.31472, step = 0
INFO:tensorflow:global_step/sec: 163.836
INFO:tensorflow:loss = 194.81802, step = 100 (0.613 sec)
INFO:tensorflow:global_step/sec: 320.343
INFO:tensorflow:loss = 108.63344, step = 200 (0.311 sec)
INFO:tensorflow:global_step/sec: 280.078
INFO:tensorflow:loss = 255.28503, step = 300 (0.357 sec)
INFO:tensorflow:global_step/sec: 308.516
INFO:tensorflow:loss = 287.13806, step = 400 (0.325 sec)
INFO:tensorflow:global_step/sec: 308.515
INFO:tensorflow:loss = 277.71912, step = 500 (0.324 sec)
INFO:tensorflow:global_step/sec: 303.842
INFO:tensorflow:loss = 88.91623, step = 600 (0.329 sec)
INFO:tensorflow:global_step/sec: 300.203
INFO:tensorflow:loss = 31.96999, step = 700 (0.333 sec)
INFO:tensorflow:global_step/sec: 324.489
INFO:tensorflow:loss = 92.49007, step = 800 (0.309 sec)
INFO:tensorflow:global_step/sec: 265.962
INFO:tensorflow:loss = 66.99286, step = 900 (0.378 sec)
INFO:tensorflow:global_step/sec: 252.563
INFO:tensorflow:loss = 52.2151, step = 1000 (0.392 sec)
INFO:tensorflow:global_step/sec: 286.479
INFO:tensorflow:loss = 107.60167, step = 1100 (0.353 sec)
INFO:tensorflow:global_step/sec: 273.955
INFO:tensorflow:loss = 102.779785, step = 1200 (0.363 sec)
INFO:tensorflow:global_step/sec: 243.96
INFO:tensorflow:loss = 35.421814, step = 1300 (0.412 sec)
INFO:tensorflow:global_step/sec: 281.651
INFO:tensorflow:loss = 41.667694, step = 1400 (0.350 sec)
INFO:tensorflow:global_step/sec: 274.705
INFO:tensorflow:loss = 36.131393, step = 1500 (0.367 sec)
INFO:tensorflow:global_step/sec: 200.938
INFO:tensorflow:loss = 36.663246, step = 1600 (0.503 sec)
INFO:tensorflow:global_step/sec: 232.101
INFO:tensorflow:loss = 95.05938, step = 1700 (0.425 sec)
INFO:tensorflow:global_step/sec: 281.649
INFO:tensorflow:loss = 406.498, step = 1800 (0.358 sec)
INFO:tensorflow:global_step/sec: 275.461
INFO:tensorflow:loss = 214.1365, step = 1900 (0.362 sec)
INFO:tensorflow:global_step/sec: 265.259
INFO:tensorflow:loss = 182.02602, step = 2000 (0.377 sec)
INFO:tensorflow:global_step/sec: 284.043
INFO:tensorflow:loss = 54.56977, step = 2100 (0.352 sec)
INFO:tensorflow:global_step/sec: 302.924
INFO:tensorflow:loss = 70.83539, step = 2200 (0.328 sec)
INFO:tensorflow:global_step/sec: 320.345
INFO:tensorflow:loss = 118.92359, step = 2300 (0.312 sec)
INFO:tensorflow:global_step/sec: 311.39
INFO:tensorflow:loss = 39.653984, step = 2400 (0.321 sec)
INFO:tensorflow:global_step/sec: 317.292
INFO:tensorflow:loss = 36.779, step = 2500 (0.315 sec)
INFO:tensorflow:global_step/sec: 327.682
INFO:tensorflow:loss = 32.84784, step = 2600 (0.305 sec)
INFO:tensorflow:global_step/sec: 317.303
INFO:tensorflow:loss = 79.07714, step = 2700 (0.315 sec)
INFO:tensorflow:global_step/sec: 324.491
INFO:tensorflow:loss = 56.379612, step = 2800 (0.308 sec)
INFO:tensorflow:global_step/sec: 261.113
INFO:tensorflow:loss = 40.528374, step = 2900 (0.382 sec)
INFO:tensorflow:global_step/sec: 289.789
INFO:tensorflow:loss = 50.254124, step = 3000 (0.346 sec)
INFO:tensorflow:global_step/sec: 318.313
INFO:tensorflow:loss = 39.640438, step = 3100 (0.314 sec)
INFO:tensorflow:global_step/sec: 313.337
INFO:tensorflow:loss = 42.89373, step = 3200 (0.320 sec)
INFO:tensorflow:global_step/sec: 307.568
INFO:tensorflow:loss = 32.06881, step = 3300 (0.324 sec)
INFO:tensorflow:global_step/sec: 311.39
INFO:tensorflow:loss = 43.53904, step = 3400 (0.321 sec)
INFO:tensorflow:global_step/sec: 303.842
INFO:tensorflow:loss = 71.926025, step = 3500 (0.329 sec)
INFO:tensorflow:global_step/sec: 261.794
INFO:tensorflow:loss = 43.899757, step = 3600 (0.382 sec)
INFO:tensorflow:global_step/sec: 218.926
INFO:tensorflow:loss = 78.43207, step = 3700 (0.457 sec)
INFO:tensorflow:global_step/sec: 270.993
INFO:tensorflow:loss = 25.849655, step = 3800 (0.370 sec)
INFO:tensorflow:global_step/sec: 278.521
INFO:tensorflow:loss = 48.543865, step = 3900 (0.358 sec)
INFO:tensorflow:global_step/sec: 264.558
INFO:tensorflow:loss = 35.20949, step = 4000 (0.379 sec)
INFO:tensorflow:global_step/sec: 299.305
INFO:tensorflow:loss = 36.41828, step = 4100 (0.333 sec)
INFO:tensorflow:global_step/sec: 220.854
INFO:tensorflow:loss = 93.511894, step = 4200 (0.454 sec)
INFO:tensorflow:global_step/sec: 277.75
INFO:tensorflow:loss = 69.58036, step = 4300 (0.362 sec)
INFO:tensorflow:global_step/sec: 303.842
INFO:tensorflow:loss = 37.415047, step = 4400 (0.326 sec)
INFO:tensorflow:global_step/sec: 280.077
INFO:tensorflow:loss = 204.9317, step = 4500 (0.359 sec)
INFO:tensorflow:global_step/sec: 292.326
INFO:tensorflow:loss = 36.46847, step = 4600 (0.339 sec)
INFO:tensorflow:global_step/sec: 249.422
INFO:tensorflow:loss = 37.655426, step = 4700 (0.402 sec)
INFO:tensorflow:global_step/sec: 303.841
INFO:tensorflow:loss = 35.695576, step = 4800 (0.329 sec)
INFO:tensorflow:global_step/sec: 226.338
INFO:tensorflow:loss = 49.413082, step = 4900 (0.448 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 5000...
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\safae\AppData\Local\Temp\tmptiamwk9c\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 5000...
INFO:tensorflow:Loss for final step: 26.453773.

### Evaluation

** Create a prediction input function. Provide shuffle=False. **

In [127]:
pred_fn = tf.compat.v1.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [130]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\safae\AppData\Local\Temp\tmptiamwk9c\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

In [137]:
predictions[0]

{'logits': array([-0.7571224], dtype=float32),
 'logistic': array([0.31927136], dtype=float32),
 'probabilities': array([0.6807286 , 0.31927136], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [139]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [140]:
final_preds[:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [141]:
from sklearn.metrics import classification_report

In [142]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.90      0.91      0.90      7436
           1       0.69      0.68      0.69      2333

    accuracy                           0.85      9769
   macro avg       0.80      0.79      0.80      9769
weighted avg       0.85      0.85      0.85      9769